/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

body {
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  background-color: $bckgrund-color;
  margin: 0, auto
}


nav.main-menu {
  margin-top: 16px;
  background-color: $nav-button-color;
  padding: 8px 16px;
}

nav.main-menu a {
  color: white;
  
  margin: 4px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-right: 2px solid #fff;
  padding-right: 5px;
}

#search-box{
  width: 200px;
  height: 20px;
  border: 1px solid lightgray;
}

.inline-display {
  display: inline;
}

.login-container {
  background-color: #00BCD4;
}

.main-container {
  color: #fff;
}