<!-- main app container -->
<div class="vertical-container">
    <div class="col-sm-12">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial" target="_top">A Point of sales dashboard application</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">eonpos.com</a>
    </p>
</div>